@import './normalize.styl'

*
    box-sizing: border-box

:root
    --gray-color: #969696
    --black-color: #15202A
    --blueish-color: #4C7BF3
    --bluelight-color: #C2D3FF
    --error-color: #FF5466
    --light-font: 300
    --semi-font: 600
    --bold-font: 700
h1,h2,h3,h4,h5,h6,p
    margin: 0   
body
    font-family: 'Libre Franklin', sans-serif
    min-height: 100vh
    text-align: center
    margin: 0
    font-size: 1rem
main
    min-height: 100vh
    display: flex;
    flex-direction: column
.container
    padding-left: 1rem
    padding-right: 1rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: 5.2rem

.logo 
    margin-bottom: 2.8rem
    @media screen and (min-width: 768px)
        margin-bottom: 2.8rem
    img
        width: 56px
        @media screen and (min-width: 768px)
            width: 90px

.main__image
    margin-bottom: 2.5rem
    img
        width: 100%
        @media screen and (min-width: 1024px)
            width: 640px
            height: 383px
.content
    width: 100%
.content__heading
    color: var(--black-color)
    &__title
        font-size: 1.375rem;
        color: var(--gray-color)
        font-weight: var(--light-font)
        margin-bottom: 1.3rem
        span
            color: var(--black-color)
            font-weight: var(--bold-font)
        @media screen and (min-width: 768px)
            font-size: 48px
    &__subtitle
        font-size: 0.75rem
        font-weight: var(--light-font)
        margin-bottom: 2.6rem
        @media screen and (min-width: 768px)
            font-size: 20px
.content__action
    margin-bottom: 5rem
    display: flex;
    flex-direction: column
    @media screen and (min-width: 768px)
        justify-content: center
        flex-direction: row
        column-gap: 1rem
    .input__container
        position: relative
        width: 100%
        @media screen and (min-width: 768px)
            max-width: 421px
        p
            position: absolute
            left: 0
            color: var(--error-color)
            font-size: 0.75rem
            font-style: italic
            margin-top: .5rem
            margin-left: .5rem
            &.visible
                opacity: 1
            &.hidden
                opacity: 0 
    &__input, &__button
        border: none
        border-radius: 28px
        padding: 1.2rem 0 
        width:100%
    &__button
        cursor: pointer
        width: 100%
        background: var(--blueish-color);
        font-weight: var(--semi-font)
        color: #fff
        font-size: 14px
        box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414)
        &:hover
            background: hsla(223, 87,63, .7)
        @media screen and (min-width: 768px)
            max-width: 200px
    &__input
        width: 100%
        border: 1px solid var(--bluelight-color)
        font-size: 0.75rem
        margin-bottom: 0.625rem
        padding-left: 1.5rem
        transition: all .2s
        color: var(--black-color)
        &:focus
            outline: none
        &::placeholder 
            color: var(--blueish-color)
            font-weight: var(--light-font)
        @media screen and (min-width: 768px)
            margin-bottom: 0
.social
    margin-top: 1rem
    &__icon
        border: 1px solid var(--bluelight-color)
        border-radius: 50%
        width: 32px
        height: 32px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        &:hover
            background-color: var(--blueish-color)
            img
                filter: brightness(360%);
    &__wrapper
        display: flex;
        justify-content: center
        column-gap: 0.7319rem
        margin-bottom: 1.69rem
    &__copyright
        color: var(--gray-color)
        font-size: 0.625rem
        @media screen and (min-width:1440px)
            font-size: 0.75rem
footer
    margin-bottom: 3rem